<!DOCTYPE html>
<head>
<title>open750 | {% block header %}{% endblock %}</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('.static', filename='css/zimit.min.css') }}">
<script src="{{ url_for('.static', filename='js/jquery-2.0.0.min.js') }}"></script>

{% block scriptloader %}{% endblock %}

<meta charset="utf-8">

</head>

<body>

<div class="container">
<h1><a href="{{ url_for('.home') }}">open750</a></h1>
{% if session['current_user'] %}
<h5>(<a href="{{ url_for('.logout') }}">logout</a>)</h5>
{% else %}
<h5>(<a href="{{ url_for('.home') }}">login</a>)</h5>
{% endif %}
	{% with messages = get_flashed_messages() %}
	<ul>
	{% for m in messages %}
		<li style="color: green; font-weight: bold;">{{ m }}</li>
	{% endfor %}
	</ul>
	{% endwith %}
<hr />
{% block headline %}{% endblock %}
{% block body %}{% endblock %}
</div>

<script src="{{ url_for('.static', filename='js/zimit.min.js') }}"></script>
</body>
</html>