{% extends 'base.html' %}
{% block header %}Home{% endblock %}

{% block headline %}
	<h2>Home</h2>
{% endblock %}

{% block body %}
<div class="row">
<div class="c7 o1">
<h3>Here are your most recent hen scratchings.</h3>
{% if session['writable'] %}
	<h4>Or, since you haven't written today, <a href="{{ url_for('.write') }}">write a new one</a>!</h4>
{% endif %}
<ul>
	{% for entry in s %}
		<li>
			<a href="{{ url_for('open750.read', id=entry.id) }}">{{ entry.slug }}"</a> ({{ entry.wordCount }} words) on {{ entry.date.month }}.{{ entry.date.day }}.{{ entry.date.year }}

			{% if entry.hashtags %}
			<ul>
				{% for tag in entry.hashtags %}
				<li><a href="{{ url_for('.view_hash', name=tag.name) }}">{{ tag.name }}</a></li>
				{% endfor %}
			</ul>
			{% endif %}

		</li>
	{% endfor %}
</ul>
</div>
</div>
{% endblock %}