{% extends 'base.html' %}
{% block header %}Home{% endblock %}

{% block headline %}
	<h2>Details</h2>
{% endblock %}

{% block body %}
<div class="row">
<div class="c10">

<h4><i>"{{ s.slug }}..."</i></h4> ({{ s.wordCount }} words) on {{ s.date.month }}.{{ s.date.day }}.{{ s.date.year }} (sentiment: {{ s.sentiment }})
<br /><a href="{{ url_for('.edit', id=s.id) }}">edit</a>
	{% if s.hashtags %}
	<br/><br/>Hashtags:
	<ul>
		{% for tag in s.hashtags %}
		<li><a href="{{ url_for('.view_hash', name=tag.name) }}">{{ tag.name }}</a></li>
		{% endfor %}
	</ul>
	{% endif %}
<p class="reader" style="white-space: pre-wrap;">{% if config.HTML_SAFE %}{{ s.text|safe }}{% else %}{{ s.text }}{% endif %}</p>

</div>
</div>
{% endblock %}