{% extends 'base.html' %}
{% block header %}Home{% endblock %}

{% block headline %}
	{% if new_post %}<h2>Write a new one</h2>
	{% else %}<h2>Details &amp; Edit</h2>
	{% endif %}
{% endblock %}

{% block body %}
<div class="row">
<div class="c10">

{% if not new_post %}<h3><i>"{{ s.slug }}..."</i></h3>{% endif %}

<form action="
	{% if new_post %}{{ url_for('.write') }}
	{% else %}{{ url_for('open750.edit', id=s.id) }}
	{% endif %}
" method="post">
	{{ form.hidden_tag() }}

	<br/>

	{{ form.text.label }} {{ form.text(rows='25',cols='80', id="scribbleArea", style="float:left; margin-right: 20px;")|safe }}
	<br/><i><span id="wordCount"></span> word<span id="plural">s</span></i>
	<br/> {% if form.text.errors %}<span style="color: red;">{{ form.text.errors[0] }}</span>{% endif %}

	<br/>{{ form.submit(class="btn-green") }}
</form>

</div>
</div>

<script type="text/javascript">
$(document).ready(function() {
		clean = function(l, deletions) {
			for (var i = 0; i < l.length; i++) {
				// if the 'word' is in the strip list (what's the term for those again?)
				if (deletions.indexOf(l[i]) != -1) {
					l.splice(i, 1);
					i--;
				}
			}
			return l;
		};

		$('#wordCount').text(clean($('#scribbleArea').text().trim().split(' '), ['']).length);
		$('#scribbleArea').keyup(function() {
			$('#wordCount').text(clean(this.value.trim().split(' '), ['']).length);
		});
	});
</script>
{% endblock %}